= render "shared/rs-header"
.create-main
  .register-title
    ご利用ありがとうございます。
    %br
    登録が完了しました。
    %br
    商品の購入にクレジットカードの登録が必要となります。
    %br
    下記ボタンより移動ください。
    %br/
    = link_to "クレジットカード登録", new_card_path, data: {"turbolinks" => false}
  = render "shared/rs-footer"