.main
  %section.mainVisual
    .content
      %h2.content__subtitle
        %br 
        人生を変えるフリマアプリ
      %p.content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br 
        フリマアプリです
      .content__btn
        %a.aBtn{href: '#'}
          = image_tag src="http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg"
        %a.gBtn{href: '#'}
          = image_tag src="http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg"
    .picture
  %section.topIntroduction
    %h2.subtitle
      FURUMAが選ばれる3つの理由
    %ul.lists
      %li.list
      %li.list