.l-container{
  margin: 24px auto 0;
  padding-bottom: 40px;

}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

@media screen and (min-width: 768px){
  .l-container{
    width: 700px;
  }
}

@media screen and (min-width: 1068px){
  .l-container{
    margin: 40px auto 0;
    width: 1020px;
  }
}

.l-content {
  width: 100%;
  .mypage-user-link {
    position: relative;
    height: 155px;
    padding: 20px;
    background-image: image-url('user-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    &__link {
      position: absolute;
      top: 30%;
      left: 0;
      right: 0;
      color: #333;
    }
    }  
  .mypage-user-icon {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
  }
  h2.bold  {
    margin: 8px 0 0;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 600;
    color: #333;
    list-style: none;
    text-decoration: none;
  }

  .mypage-number{
    margin-top: 8px;
    font-size: 0;
    display: inline-flex; 
    .mypage-number-num {
      font-size: 14px;
      margin-left: 10px;          
      }
    }
    a:hover {
      background: #fafafa;
      text-decoration: none;
      opacity: 1;
  
      .icon-arrow-right {
        -webkit-transform: translate(4px, -50%);
        transform: translate(4px, -50%);
        color: #333;
      }
    }

  .mypage-tab-container-notification-todo {
    margin: 0;
    background: #fff;
    ul {
      list-style: none;
    }
    .mypage-tabs{
      border: 0;
      background: #eee;
      font-size: 0;
      li.active {
        border-top: 2px solid #3CCACE;
      }
      li {
        width: 100%;
        display: inline-block;
        text-align: center;
        vertical-align: top;
        h3 {
          font-size: 22px;
          .mypage-nav-link {
            position: relative;
            display: block;
            color: #333;
            font-size: 16px;
            line-height: 72px;
            text-decoration: none;
          }
          .mypage-nav-todo{
            position: relative;
            display: block;
            color: #333;
            font-size: 16px;
            line-height: 72px;
            text-decoration: none;

          }
        }
      }
    }
    .tab-content {
      ul {list-style: none;
      }
      .tab-pane.active {
        display: block;
        li {
          position: relative;
          border-bottom: 1px solid #eee;
          .mypage-item-link {
            display: block;
            min-height: 80px;
            padding: 16px;
            color: #333;
            text-decoration: none;
            figure {
              position: relative;
              overflow: hidden;
              float: left;
              width: 48px;
              height: 48px;
              .mypage-logo-icon {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                vertical-align: middle;
              }
              .lazyloaded {
                opacity: 1;
                -webkit-transition: opacity .3s;
                transition: opacity .3s;
              }
            }
            .mypage-item-body {
              margin: 0 40px 0 68px;
              .mypage-item-text {
                overflow: hidden;
                display: block;
                display: -webkit-box;
                max-height: 4.4em;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                line-height: 1.5;
              }
              time {
                display: inline-block;
                color: #888;
                .fa-clock {
                  margin: 0 8px 0 0;
                  font-size: 16px;
                  vertical-align: middle;
                }
              } span {
                vertical-align: middle;
              }
            }
          }
        }
        .mypage-go-list {
          position: relative;  
          padding: 16px;
          .mypage-go-list--link {
            display: block;
            height: 56px;
            margin: 0 auto;
            background: #eee;
            color: #333;
            line-height: 56px;
            text-align: center;
            touch-action: manipulation;
            text-decoration: none;
          }
        }    
      }
      .tab-pane{
        display: none;
        list-style: none;
        .mypage-item-not-found {
          border: 0;
        }
      }
    }
  }

  .fa-chevron-right{
    @include chevron-right();
  }


  .mypage-tab-container {
    margin: 40px 0 0;
    background: #fff;
    .mypage-tab-head {
      padding: 0 4%;
      background: #fafafa;
      font-size: 16px;
      line-height: 72px;
      text-align: center;
    }
    .mypage-tabs {
      border: 0;
      background: #eee;
      font-size: 0;
    }
    ul {
      list-style: none;
      li {
        background: #fff;
        width: 50%;
        display: inline-block;
        text-align: center;
        vertical-align: top;
        h3 {
          font-size: 22px;
          .mypage-tab-transaction-now-link{
            border-top: 2px solid #3CCACE;
            position: relative;
            display: block;
            color: #333;
            font-size: 16px;
            line-height: 72px;
            text-decoration: none;
          }
          .mypage-tab-transaction-old-link {
            position: relative;
            display: block;
            color: #333;
            font-size: 16px;
            line-height: 72px;
            text-decoration: none;
          }
        }
      }
    }
    .tab-content {
      ul{
        list-style: none;
      }
      h3{
        text-align: center;
        padding-top: 40px; 
      }
      .tab-pane.active {
        display: block;
        border: 0;
        padding: 160px 0 60px;
        background: image-url('logologo.png');
        background-repeat: no-repeat;
        background-position: center 40px;
        background-size: 78px 85px;
        text-align: center;
        font-size: 16px;
        color: #333;
      }
    }
  }
}

@media screen and (min-width: 768px){
  .l-content{
    float: none;
    width: 700px;
    .mypage-tab-head{
      padding: 0 16px;
    }
  }
}

@media screen and (min-width: 1068px){
  .l-content{
    float: right;
  }
}