.bread-crumbs {
  position: relative;
  border-top: 1px solid #eee;
  background: #f5f5f5;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
  background: #fff;

  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#fff));
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
  }

  a {
    color: #333;
    text-decoration: none;
  }

  .fas {
    margin: 0 15px;
    font-size: 9px;
    color: #888;
  }

  span {
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
    color: #333;
    font-weight: 600;
  }
  i {
    margin: 0 8px;
    font-size: 9px;
    color: #888;
  }
}

@media screen and (min-width: 768px) {
  .breadcrumbs-list  {
    overflow: visible;
    width: 700px;
    margin: 0 auto;
    padding: 16px 0;
    white-space: normal;
  }
}

@media screen and (min-width: 1068px) {
  .breadcrumbs-list  {
    width: 1020px;
  }
}
