= render "shared/rs-header"
.create-main
  .register-title
    クレジットカードの登録が完了しました。
    %br
    下記ボタンより移動ください。
    %br/
    = link_to "トップページへ", root_path
    %br
    = link_to "マイページへ", mypage_index_path
  = render "shared/rs-footer"