.header
.main
  %section.mainVisual
    .content
      %h2.content__subtitle
        %br 
        人生を変えるフリマアプリ
      %p.content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br 
        フリマアプリです
    .picture
  %section.topIntroduction
    %h2.subtitle
      FURUMAが選ばれる3つの理由
    %ul.lists
      %li.list
      %li.list