body{
  height: 100vh;
}

#address_address_first_name{
  border-radius: 4px;
  font-size: 16px;
  margin: auto;
  margin-right: 8px;
  margin-top: 8px;
  height: 48px;
  padding: 10px 16px 8px;
  width: 165px;
}

#address_address_last_name{
  border-radius: 4px;
  font-size: 16px;
  margin: auto;
  margin-top: 8px;
  height: 48px;
  padding: 10px 16px 8px;
  width: 165px;
}

#address_address_first_name_kana{
  border-radius: 4px;
  font-size: 16px;
  margin: auto;
  margin-right: 8px;
  margin-top: 8px;
  height: 48px;
  padding: 10px 16px 8px;
  width: 165px;
}

#address_address_last_name_kana{
  border-radius: 4px;
  font-size: 16px;
  margin: auto;
  margin-top: 8px;
  height: 48px;
  padding: 10px 16px 8px;
  width: 165px;
}

#address_zipcode{
  border-radius: 4px;
  font-size: 16px;
  margin: auto;
  margin-right: 8px;
  margin-top: 8px;
  height: 48px;
  padding: 10px 16px 8px;
}

#address_prefecture{
  border-radius: 4px;
  font-size: 16px;
  margin: auto;
  margin-right: 8px;
  margin-top: 8px;
  height: 48px;
  padding: 10px 16px 8px;
}

#address_city{
  border-radius: 4px;
  font-size: 16px;
  margin: auto;
  margin-right: 8px;
  margin-top: 8px;
  height: 48px;
  padding: 10px 16px 8px;
}

#address_municipality{
  border-radius: 4px;
  font-size: 16px;
  margin: auto;
  margin-right: 8px;
  margin-top: 8px;
  height: 48px;
  padding: 10px 16px 8px;
}

#address_address{
  border-radius: 4px;
  font-size: 16px;
  margin: auto;
  margin-right: 8px;
  margin-top: 8px;
  height: 48px;
  padding: 10px 16px 8px;
}

#address_building_name{
  border-radius: 4px;
  font-size: 16px;
  margin: auto;
  margin-right: 8px;
  margin-top: 8px;
  height: 48px;
  padding: 10px 16px 8px;
  width: 100%;
}

#address_phone_num{
  border-radius: 4px;
  font-size: 16px;
  margin: auto;
  margin-right: 8px;
  margin-top: 8px;
  height: 48px;
  padding: 10px 16px 8px;
}